streamlit
requests
pandas
yfinance
evds
XlsxWriter
beautifulsoup4
requests
python-dateutil
numpy
plotly
matplotlib
google-generativeai>=0.8.3
fpdf
fuzzywuzzy
python-Levenshtein
fpdf2





